<div class="table-container">
    <div class="back-container other-costs-menu-button-left">
        <i class="fa fa-chevron-left"></i>
        <span class="back-text">BACK</span>
    </div>
    <table>
        <tr>
            <th>Cost</th>
            <th>Bought</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {{#each otherCosts}}
        <tr class="monthly-cost-list">
            <td>${{this}}</td>
            <td>{{@key}}</td>
            <td>7/8/19</td>
            <td></td>
            <td class="delete" onclick="deleteOtherCost('{{@key}}')">Delete</td>
        </tr>
        {{/each}}
    </table>
</div>
<form method="post" action="/costsOther/delete" class="theme-input-container" id="editOtherCostsForm">
    <input type="text" id="editOtherCostsInput" name="costsOtherName" value="">
    <input type="submit" value="Submit">
</form>