<div class="theme-option-container misty-rose">
    <h1>Misty Rose</h1>
</div>
<div class="theme-option-container pastel-green">
    <h1>Pastel Green</h1>
</div>
<div class="theme-option-container verdigris">
    <h1>Verdigris</h1>
</div>
<div class="theme-option-container black">
    <h1>Charcoal</h1>
</div>
</form>
<form method="post" action="/themes" class="theme-input-container" id="themeForm">
    <input type="text" id="theme-input" name="theme" value="">
    <input type="submit" value="Submit">
</form>