USER CAN INPUT MONTHLY, WEEKLY, BI WEEKLY
USER CAN INPUT AUTOMATIC COSTS (E.G. BILLS)
USER CAN INPUT OTHER COSTS, (OPTIONAL) GIVE IT A NAME, (OPTIONAL) SELECT A CATEGORY
APP SHOWS SURPLUS MONEY ON A YEARLY, MONTHLY, BI WEEKLY, OR WEEKLY BASIS
APP SHOWS A LIST OF BILLS WHICH IS EDITABLE - YEARLY, MONTHLY, WEEKLY
APP SHOWS A LSIT OF OTHER COSTS WHICH IS EDITABLE - YEARLY, MONTHLY, WEEKLY
IF PAY CHANGES MUST ASK USER WHEN PAY CHANGE STARTS AND RECALCULATE SURPLUS
IF USER EDITS AUTOMATIC COSTS MUST ASK USER WHEN PAY CHANGE STARTS AND RECALCULATE SURPLUS
IF USER EDITS OTHER COSTS MUST AUTOMATICALLY UPDATE AND RECALULATE SURPLUS
ADD AVATAR
SIGN UP FORM WILL ASK FOR MONTHLY BILLS, USERNAME, EMAIL, PASSWORD, VERIFY PASSWORD, MONTHLY, BI WEEKLY, OR WEEKLY PAY