.main {
  background: whitesmoke;
}

.main-transform {
  background: rgba(175, 47, 47, 0.15);
}

.info-container {
  background: rgba(175, 47, 47, 0.15);
}

.surplus {
  color: darkgray;
}

.surplus-cost {
  color: rgb(116, 116, 116);
}

.main-title {
  color: rgba(175, 47, 47, 0.15);
}

.input-container {
  background: whitesmoke;
}

.cost-input {
  color: rgb(116, 116, 116);
}

.cost-input::placeholder {
  color: rgb(177, 177, 177);
}

.add-button-container button {
  background: rgba(175, 47, 47, 0.35);
  color: white;
}

.add-button-container button:hover {
  background: rgba(175, 47, 47, 0.15);
  color: darkgray;
}

.menu-button-container .fa-chevron-circle-up {
  color: rgba(175, 47, 47, 0.15);
}

.menu-button-container .fa-chevron-circle-up:hover,
.menu-button-container .fa-chevron-circle-up:active,
.menu-button-container .fa-chevron-circle-up:focus {
  color: rgba(175, 47, 47, 0.35);
}

.menu-button-container .fa-chevron-circle-down {
  color: rgba(245, 245, 245);
}

.menu-button-container .fa-chevron-circle-down:hover,
.menu-button-container .fa-chevron-circle-down:focus,
.menu-button-container .fa-chevron-circle-down:active {
  color: rgba(175, 47, 47, .5);
}

.menu {
  background: whitesmoke;
}

.menu-transform {
  background: rgba(175, 47, 47, 0.15);
}

.menu-option-button button {
  background: whitesmoke;
  color: darkgray;
}

.menu-option-button button:hover,
.menu-option-button button:focus,
.menu-option-button button:active {
  background: rgba(175, 47, 47, .5);
  color: whitesmoke;
}

/* COSTS & OTHER COSTS */
.costs-page,
.otherCostsPage {
    background: white;
}

.back-container {
  background: rgb(182, 93, 93);
  color: whitesmoke;
}

.table-container {
  background: rgb(212, 151, 151);
  color: darkgray;
}


.back-container:hover {
  background: whitesmoke;
  color: darkgray;
}

/* TABLE BACKGROUND COLORS */
.table-container tr:nth-child(odd) {
  background: rgba(182, 93, 93, .8);
  color: whitesmoke;
}

.table-container tr:nth-child(even) {
  background: whitesmoke;
  color: darkgray;
}